node_modules/
.expo/
dist/
web-build/
.env*.local

# macOS
.DS_Store

# Xcode
ios/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

# Android
android/
*.keystore
!debug.keystore

# TypeScript
*.tsbuildinfo

expo-env.d.ts
