node_modules/
.expo/
dist/
web-build/
.env*.local

 
.DS_Store

 
ios/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

 
android/
*.keystore
!debug.keystore

 
*.tsbuildinfo

expo-env.d.ts
